
<h3>Chat Box</h3>
<hr />

<div id=<%="msg_thread_#{@message_thread.id}"%> >
  <% @messages.each do |message| %>
    <div class="message">
      <span style="color:red"><%= message.user.try(:username) %></span>:
        <%= message.content %>
    </div>
  <% end %>
</div>

<%= form_for @message, remote: true do |f| %>
  <%= f.text_field :content %>
  <%= hidden_field_tag "id",  params[:id] %>
  <%= f.submit %>
<% end %>
