<!DOCTYPE html>
<html>
  <head>
    <title>Rails6Chat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div style="padding:10px;">

      <h1><%= link_to "Welcome", "/"  %> <%= current_user.username %> :) Find Your Partner</h1>
      <%= yield %>
    </div>
  </body>
</html>
